<template>
  <div>
    <Header />
    <div style="padding-top: 4rem">
      <NuxtPage />
    </div>
  </div>
</template>

<script setup lang="ts">
import Header from "./components/Header.vue";
import Index from "./pages/index.vue";
</script>

<style scoped>
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
</style>
