<template>

    <nav>
        <button>Chaussure de ville</button>
        <button>Claquette chaussette</button>
        <button>Rythme Épique</button>
    </nav>



    <div>
    <h1>homme</h1>

    <ShoesCard v-if="data" :list="data"></ShoesCard>
</div>
</template>

<script setup lang="ts">
import ShoesCard from '~/components/ShoesCard.vue';
import type { Produit } from '~/entities';

const { data, refresh } = await useFetch<Produit[]>('http://localhost:8080/api/produit/genre/homme');


</script>

<style scoped>

nav{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

</style>