<template>
  <div>
    <div>
      <div class="card mt-1" v-for="note of list" :key="note.id">
        <div class="card-body">
          <h3 class="card-title">{{ note?.author?.name }}</h3>
          <p>{{ note.content }}</p>
          <p>{{ note.date }}</p>
        </div>
      </div>
    </div>

    <form @submit.prevent="emit('submit', note)">
      <label>
        Note
        <textarea class="form-control" v-model="note.content"></textarea>
      </label>
      <button class="btn btn-primary">Add</button>
    </form>
  </div>
</template>

<script lang="ts" setup>
import type { Note } from '~/entities';

defineProps<{
  list: Note[]
}>();

const emit = defineEmits<{
  submit: [note: Note]
}>();

const note = ref<Note>({
  content: '',
  date: ''
});

</script>
<style scoped></style>
