<template>

    <footer>
            <div class="footer-content">
  
    
                <div class="second">
                <div class="liens">
                    <li>Nos meilleurs ventes</li>
                    <li>Guide quel chaussure pour de la course</li>
                </div>
    
                <div>
                    <h4>Summer Vibes</h4>
    
                <ul class="socials">
                  <li><a href="https://www.facebook.com"><Icon name="simple-icons:facebook" /></a></li>
                  <li><a href="https://www.instagram.com/"><Icon name="simple-icons:instagram" /></a></li>
                  <li><a href="https://twitter.com/home"><Icon name="simple-icons:twitter" /></a></li>  
            </ul>
    
                </div>
            </div>
    
            <div class="footer-bottom">
                <p>copyright &copy;2024 <span>Booklon</span></p>
            </div>
        </div>
        </footer>
    </template>
    
    <script setup lang="ts">
    </script>
    <style scoped>
    
    footer{
        background: #FFEFDB;
        border: 1px solid #3264af;
        height: auto;
        width: 100%;
        font-family: "Open Sans";
        padding-top: 40px;
        color: #3264af;
        margin-top: 3rem;
    }
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .footer-content h3{
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
    }
    .footer-content p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
    }
    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0 3rem 0;
    }
    .socials li{
        margin: 0 10px;
    }
    .socials a {
        text-decoration: none;
        color: #091E57;
    }
    .socials a i{
        font-size: 1.1rem;
        transition: color 2s ease;
    }
    .socials a:hover i{
        color: #D0AB6F;
    }
    .footer-bottom{
        background: #FFEFDB;
        text-align: center;
        padding: 20px 0;
    
    }
    
    .footer-bottom p{
        font-size: 14px ;
        word-spacing:2px ;
        text-transform: capitalize;
    }
    .footer-bottom span{
        text-transform: uppercase;
        font-weight: 200;
        opacity: .5;
    
    }
    .first{
        display: flex;
        justify-content: space-around;
        width: 80%;
    }
    img{
        height: 16rem;
    
    }
    li{
        list-style: none;
        font-size: 1.2rem;
    }
    h4{
        font-size: 1.2rem;
        color: #091E57;
        font-weight: 600;
    
    }
    .second{
        margin-top: 3rem;
        display: flex;
        justify-content: space-around;
        width: 60%;
        align-items: center;
    }
    
    @media screen and (min-width:10px) and (max-width:1000px){
        .second{
            display: flex;
            flex-direction: column;
        }
    }
    @media screen and (min-width:10px) and (max-width:1000px){
        .first{
            width: 100%;
    
        }
        img{
            height: 10rem;
        }
    }
    @media screen and (min-width:10px) and (max-width:580px){
    
        .first{
            display: none;
        }
    }
    
    </style>