<template>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #f5eee1">
    <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand me-auto" href="/">Souadrenza.com</a>
      <div class="recherche d-flex justify-content-center flex-grow-1">
        <ul id="type">
          <NuxtLink to="/shoes/homme" style="text-decoration: none"><li class="NavText">Homme</li></NuxtLink>
          <NuxtLink to="/shoes/femme" style="text-decoration: none"><li class="NavText">Femme</li></NuxtLink>
          <NuxtLink to="/shoes/enfant" style="text-decoration: none"><li class="NavText">Enfant</li></NuxtLink>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" />
          <button class="btn search-btn" type="submit"><img src="/images/loupe.png" alt="Rechercher" /></button>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" title="Favoris"><img src="/images/coeur.png" alt="Favori" /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="Panier"><img src="/images/panier.png" alt="Panier" /></a>
          </li>
          <li class="nav-item">
              <NuxtLink to="/login" class="nav-link" title="Profil">
             <img src="/images/user.png" alt="User" />
            </NuxtLink>
            </li>
            <li class="nav-item">
              <NuxtLink to="/register" class="nav-link NavText" style="text-decoration: none">
              S'inscrire
            </NuxtLink>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script setup lang="ts">
import { useAuth } from "~/composable/useAuth";
import type { Produit } from "~/entities";

// export default {
//   data() {
//     return {
//       searchQuery: "",
//     };
//   },
//   methods: {
//     performSearch() {
//       console.log("Rechercher:", this.searchQuery);
//     },
//   },
//   handleButtonClick(button) {
//     console.log(`Bouton cliqué : ${button}`);
//   },
// };
</script>

<style scoped>
img {
  width: 30%;
}
#navbarSupportedContent {
  margin-left: 4rem;
}
.navbar-brand {
  color: #00749c;
  font-size: 180%;
  font-weight: bold;
  font-family: "Major Mono Display", monospace;
  transition: transform 0.2s;
  margin-left: 2rem;
}

.search-btn {
  background-color: none;
  border: none;
  padding: 0;
  transition: transform 0.2s;
}

.navbar-brand:hover,
.search-btn:hover,
.NavText:hover {
  transform: scale(1.1);
}

.NavText {
  color: #00749c;
  font-size: 120%;
  font-family: "Major Mono Display", monospace;
  transition: transform 0.2s;
  display: flex;
  text-align: center;
}

#type {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.form-control {
  height: 2rem;
  margin-top: 1rem;
}
</style>
