<template>
    <div class="container-fluid">
        <form @submit.prevent="login()">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" v-model="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" >Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" v-model="password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <p>Vous n'avez pas de compte ? <NuxtLink to="/register">Inscrivez-vous</NuxtLink> et revenez vous connecter
                !</p>
        </form>
    </div>
</template>

<script setup lang="ts">
import { useAuth } from '~/composable/useAuth';
import type { User } from '~/entities';



const email = ref('');
const password = ref('');
const user = useAuth();

async function login() {
    const userResp = await $fetch<User>('http://localhost:8080/api/account', {
        credentials: 'include',
        headers: {
            'Authorization': 'Basic ' + btoa(email.value + ':' + password.value)
        }        
    });
    user.value = userResp; 
    console.log('ca marche');
    
}

</script>

<style scoped></style>