<template>
<div class="container-fluid">
        <form @submit.prevent="register()">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" v-model="user.email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label  class="form-label">Name</label>
                <input type="text" class="form-control"  v-model="user.name">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" >Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" v-model="user.password">
            </div>
            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Submit</button>

        </form>




        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Votre inscription a bien été prise en compte</h1>
        </div>
                    <div class="modal-body">
                        <p><NuxtLink to="/login">Connectez-vous</NuxtLink> pour la premiere fois !</p>
                    </div>
                    <div class="modal-footer">
                        <NuxtLink to="/login"><button type="button" data-bs-dismiss="modal" class="btn btn-primary" >Compris !</button></NuxtLink>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>


<script setup lang="ts">
import { useAuth } from '~/composable/useAuth';
import type { User } from '~/entities';




const auth= useAuth();
const user = ref<User>({
    email:"",
    name:"",
    password:"",
    role:""
})

async function register() {
    const userResp = await $fetch<User>('http://localhost:8080/api/user', {
        credentials: 'include',      
    });
    auth.value = userResp; 
    console.log('ca marche');
    
}

</script>

<style scoped>
</style>